<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Price</th>
        <th>Rooms</th>
        <th>Bathrooms</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @properties.each do |property| %>
        <tr id="<%= property.id %>">
          <td><%= property.name %></td>
          <td><%= property.address %></td>
          <td><%= property.price %></td>
          <td><%= property.rooms %></td>
          <td><%= property.bathrooms %></td>
          <td><%= link_to 'Show', property, class:"btn btn-info" %></td>
          <td><%= link_to 'Edit', edit_property_path(property), class:"btn btn-warning" %></td>
          <td>
              <p class="destroy-property btn btn-danger">
                Destroy
              </p>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="digg_pagination">
    <%= will_paginate @properties %>
  </div>
</div>
<br>

<%= link_to 'New Property', new_property_path, class:"btn btn-primary" %>
