<h2><%= @greeting %>! <%= @account.first_name %></h2>

<p>
  You have created a new property.
</p>

<h2>Property Informations are bellow</h2>

<h4>Name</h4>
<p><%= @property.name %></p>

<h4>Price</h4>
<p><%= @property.price %></p>

<h4>Location</h4>
<p><%= @property.address %></p>

<h4>Rooms</h4>
<p><%= @property.rooms %></p>

<h4>Bathrooms</h4>
<p><%= @property.bathrooms %></p>
